.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


body {
  background-color: hsla(360, 0%, 98%, 1);
}

ul > .Category_Item { position:relative; margin-left: 20px;}

.Test_Container {
  margin-left: 20px;
  clear: both; 
  display:none;
  height:none;
}

.TestResult {
  background-color:white;
  position:relative; margin-left: 20px;
  width: auto;
  padding: 0;
  float:left;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.TestCase {
  position:relative; margin-left: 20px;
  width: auto;
  padding: 0;
  float:left;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.TestCase {
  clear:both;
}

.TestCase:hover{
  background-color: hsla(195,53%,79%, 0.45);  
}

a {
  color: hsl(269, 52%, 13%);
}
.stdout_div {
  position:relative; margin-left: 20px;
  width: 400px;
  height: 400px;
  overflow-y:scroll;
  word-wrap: break-word;
  padding: 0;
  float:left;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.TestStep_name {
  margin: 0;
  padding: 0;
  float:left;
  clear:both;
  overflow:hidden;
}
.TestCase_name {
  margin: 0;
  padding: 0;
  float:left;
  clear:both;
  overflow:hidden;
}

.TestResult_first_in_step {
  clear: both;
}

.TestResult_graph {
  border: 1px solid black;
  height:466px;
  width:700px;
  overflow:hidden;
  margin: 0;
  padding: 0;
  float:left;
  clear:both;
}

.TestResult_console {
  height:466px;
  width:auto;
  overflow-y:hidden;
  margin: 0;
  padding: 0;
  float:left;
  clear:both;
}

.TestResult_error {
  height:466px;
  width:400px;
  overflow-y:scroll;
  margin: 0;
  padding: 0;
  float:left;
  clear:both;
}


.TestResult_data {
  border: 1px solid black;
  height:400px;
  width: auto;
  float:left;
  overflow:hidden;
}

.TestResult_data_list {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 30px;
}

.TestResult_rendering {
  width: auto;
  float: left;
  clear:both;
}

.TestResult_image_div {
  width: auto;
  border: 1px solid black;
  float:left;
  margin: 5px;
}

.TestResult_image {
  height:420px;
  width: 533.33px;
  margin: 0;
  padding: 0;
  float:left;
}

.image_download_link {
  float:left;
  clear:both;
}


.test_successful {
  background-color: hsla(143, 100%, 48%, 1);
  margin-left: 10px;
}

.test_failed {
  background-color: hsla(29, 100%, 80%, 1);
  margin-left: 10px;
}


.test_failed.test_failed_new {
  background-color: hsla(353, 100%, 60%, 1);
  margin-left: 10px;
}

.test_failed .test_failed_new .Selected_Server {
  border: 2px solid black;
  background-color: hsla(353, 100%, 60%, 1);
  margin-left: 10px;
}

.test_failed.test_failed_new:not(.Selected_TestRun):not(.Selected_Server) {
  background-color: hsla(353, 100%, 60%, 1);
  margin-left: 10px;
}


#Servers {
  margin-left: 20px;
}


div #Builds_list {
  clear:both;
}

div #Builds_list, #Hardware_list {
  height: 250px;
  width: 40%;
  border: 1px solid black;
  overflow-y: scroll;
  border-radius: 5px;
  float:left;
}


.Build_Header {
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    width:40%;
    float:left;
}

.Hardware_Header {
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    float:left;
}

#TestRuns {
    clear: both;
  margin-left: 20px;
}

.TestServer {
  text-align: center;
  float:left;
  height: 25px;
  width: auto;
  padding: 0 5px 0 5px;
  margin: 5px 5px 10px 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

div#TestRuns_list {
  height: 150px;
  width: 80%;
  border: 1px solid black;
  overflow-y: scroll;
  border-radius: 5px;
}

.TestRun {
  text-align: center;
  float:left;
  height: 25px;
  width: 200px;
  width:auto;
  margin: 5px 5px 10px 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.TestRun_NoResults {
  color: lightgray;
}

.Selected_Server {
  border: 3px solid black;
  padding:-2px;
  margin-bottom:-4px;
}

.Selected_TestRun {
  border: 3px solid black;
  padding:-2px;
  margin-bottom:-2px;
}

div#Toggle_button {
  position: fixed;
  right: 12px;
  top:20px;
  z-index: 200;
}

div#Options {
  min-width:300px;
  min-height: 250px;
  height: auto;
  width: auto;
  border: 1px solid black; 
  position: fixed;
  right: 10px;
  top: 10px;
  background-color: rgba(255, 255, 255, 1.0); 
  z-index: 100;
}

.Options_Header {
  margin-bottom: 5px;
}


input#Options_Toggle {
  margin: 5px;
}


label h3 {
  display:inline;
}

.minimized ~ div {
  display: none;
}

 .category_list_checkbox { 
  -webkit-appearance: none;
  appearance: none;
}

ul {
  height:auto;
  display: block;
  clear:both;
}

input:checked ~ ul {
  display: block; 
}

input ~ ul  {
  display: none;
}

input:checked ~ .Test_Container {
  height:auto;
  display:block;
}

.glyph {
  display:inline-block; 
}

input:checked + label > .glyph {
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg);      
}

#loading_spinner_container {
  display: none;
  position:absolute;
  z-index: 9000;
  left: 50%;
}

#loading_spinner {
  opacity: 1;
  width:200px;
  height: 200px;
  left: -100px;
}

table{
border:1px solid black;
}

table th{
border:1px solid black;
}

#Options_Legend {
  margin-left: 10px;
}

.legend_allsuccess {

}

.legend_selected {
  background-color: lightblue;
}

.legend_successful_case {
  background-color: hsla(143, 100%, 48%, 1);
}

.legend_failed_case {
  background-color: hsla(29, 100%, 80%, 1);
}


.legend_failed_new{
  background-color: hsla(353, 100%, 60%, 1);
}



.tooltip_text {
  position: absolute;
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  font-size: 9pt;

  z-index: 1;
  margin-left: -60px;
  margin-top:-30px;
}

.has_tooltip:hover .tooltip_text {
    visibility: visible;
}
